@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

body {
	font-family: "DM Sans";

}

[class*="__container"] {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;

}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}

.page {
	flex: 1 1 auto;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	min-height: 120px;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 1087px) {
	[class*="__container"] {
		max-width: 970px;
	}

}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 850px;


	}

	.header__container {
		min-height: 80px;
	}

	.menu__item:not(:last-child) {
		margin-right: 20px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}

}

.header__logo {
	position: relative;
	z-index: 5;
}


@media (max-width: 479.98px) {
	.header__logo {
		flex: 0 0 40px;
		overflow: hidden;
	}
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
}

.menu__item:not(:last-child) {
	margin-right: 50px;
}

@media (max-width: 1087px) {

	.menu__item:not(:last-child) {
		margin-right: 30px;
	}
}



.menu__link {
	color: #19191B;
	letter-spacing: -0.468947px;
	font-size: 15px;
	font-weight: 700;
	line-height: 166%;
	color: #696871;

}

.menu__link:hover {
	text-decoration: underline;
}

@media (max-width: 767.98px) {
	.menu__body {
		position: fixed;
		overflow: auto;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: blue;
		background-color: white;
		padding: 100px 15px 80px 0px;
		transition: left 0.5s ease 0s;
	}

	.header:target .menu__body {
		left: 0;
	}

	.header:target .menu__body::before {
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 80px;
		background-color: white;

	}


	.menu__list {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.menu__item {
		margin-bottom: 25px;


	}

	.menu__item:not(:last-child) {
		margin-right: 0px;
	}

	.menu__item:last-child {
		margin: 0;
		color: black;

	}

	.menu__link {
		font-size: 35px;

	}

}




.header__button {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;

}



.button {
	display: inline-block;
	background: #FF7143;
	border-radius: 10px;
	padding: 20px 60px;
	text-align: center;
	color: white;
	letter-spacing: -0.531474px;
	font-size: 17px;
	line-height: 130%;
	transition: all 0.3s ease 0s;

}


.button:hover {
	background-color: #ef511c;
}


/* =====================burger===========*/

.icon-menu {
	display: none;
}



@media (max-width: 767.98px) {

	.icon-menu-close,
	.icon-menu {
		position: relative;
		display: flex;
		padding-right: 5px;
		margin-left: 10px;
		flex: 0 0 35px;
		height: 18px;
		flex-direction: column;
		justify-content: space-between;
	}

	.icon-menu span {
		height: 2px;
		background-color: black;
	}

	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		background-color: black;
	}



	.icon-menu-close {
		display: none;
	}


	.icon-menu-close::before,
	.icon-menu-close::after {
		content: "";
		height: 2px;
		background-color: black;
		transform-origin: 0 0;
	}

	.icon-menu-close::before {
		transform: rotate(35deg);
	}

	.icon-menu-close::after {
		transform: rotate(-32deg);
	}

	.header:target .icon-menu {
		display: none;
	}


	.header:target .icon-menu-close {
		display: flex;
	}



	.header__button .button {
		padding: 5px 70px;
	}
}


/* ===============================================preview============================================================== */

.preview {
	padding: 190px 0px 100px 0px;
	position: relative;

}

.preview__body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.preview__content {
	display: flex;
	flex: 0 0 45.8%;
	flex-direction: column;
	padding: 100px 20px 0px 0px;
}

.preview__title {
	font-weight: 700;
	font-size: 80px;
	line-height: 96%;
	letter-spacing: -2.50105px;
	color: #19191B;
}

.preview__title:not(:last-child) {
	margin-bottom: 30px;
}

.preview__sub-title {
	font-family: 'Mulish';
	font-size: 20px;
	line-height: 1.5;
	color: #696871;
	flex: 1 1 auto;
}

.preview__sub-title:not(:last-child) {
	margin-bottom: 50px;
}

.preview__buttons {
	display: flex;
	align-items: center;
	gap: 40px;

}

.button_blue {
	background: #5454D4;
	border-radius: 10px;
	transition: all 0.3s ease 0s;



}

.button_blue:hover {
	background-color: #3838cf;
}

.arrow-down {
	margin: 30px;
}

.arrow-down span {
	display: block;
	width: 30px;
	height: 30px;
	border-bottom: 5px solid #337AB7;
	border-right: 5px solid #337AB7;
	transform: rotate(45deg);
	margin: -16px;
	animation: arrow-down 2s infinite;
}

.arrow-down span:nth-child(2) {
	animation-delay: -0.2s;
}

.arrow-down span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes arrow-down {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}





.preview__photo {
	flex: 0 1 54.2%;
}

.preview__photo img {
	max-width: 100%;

}

@media (max-width: 1087px) {
	.preview__content {
		flex: 1 1 100%;
		text-align: center;

	}

	.preview__content {
		padding-top: 0;
		margin: 0px 0px 60px 0px;
	}

	.preview {
		padding: 150px 0px 70px 0px;
	}

	.preview__title {
		font-size: 50px;
	}

	.preview__buttons {
		flex-wrap: wrap;
		justify-content: center;
	}

	.preview__photo {
		display: flex;
		flex: 1 1 100%;
		justify-content: center;

	}



}


/* ===============================================partners============================================================== */


.partners {
	padding: 100px 0px;
}



.partners__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.partners__item {
	flex: 0 1 25%;
	padding: 20px 15px;
	text-align: center;
	min-width: 150px;

}

@media (max-width:767.98px) {
	.partners {
		padding: 20px 0px;
	}

}


/* ===============================================subscription============================================================== */



.subscription__content *:not(:last-child) {
	margin-bottom: 30px;
}


.link {
	color: #5454D4;
	letter-spacing: -0.531474px;
	font-size: 17px;
	font-weight: 700;
	line-height: 1.3;
	transition: color 0.3s ease 0s;
}

.link:hover {
	color: #1515e9;
}

.title {
	color: #19191B;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.14;
	letter-spacing: -1.56316px;
}

.text {
	font-family: 'Mulish';
	color: #696871;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: -0.625263px;
}


.subscription:not(:last-child) {
	margin-bottom: 83px;
}

.subscription__body {
	display: flex;
	flex-wrap: wrap;
}

.subscription__image {
	flex: 0 1 32.5%;
}

.subscription__image img {
	max-width: 100%;

}


.subscription__content {
	display: flex;
	flex: 0 1 64.5%;
	flex-direction: column;
	padding-left: 165px;
	align-self: center;
}

@media (max-width: 1088px) {
	.subscription__body {
		flex-direction: column-reverse;
	}

	.subscription__image {
		align-self: center;
	}

	.subscription__content {
		padding: 0px 0px 30px 0px;
		text-align: center;
	}
}






/* ===============================================metrics============================================================== */

.metrics__body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;


}

.metrics__image {
	flex: 0 1 58.8%;
	padding-left: 165px;
}

.metrics__image img {
	max-width: 100%;
}


.metrics__content *:not(:last-child) {
	margin-bottom: 30px;
}


.metrics__content {
	display: flex;
	flex: 0 0 41.2%;
	flex-direction: column;
	align-self: center;
}


@media (max-width: 1088px) {
	.metrics__body {
		flex-direction: column-reverse;
	}

	.metrics__image {
		align-self: center;
		padding: 0;
	}

	.metrics__content {
		padding-bottom: 30px;
		text-align: center;
	}


}




/* ===============================================advantage============================================================== */

.advantage {
	padding: 138px 0px 0px 0px;
}

.advantage__rows {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -37px;

}

.advantage__column {
	flex: 1 0 33.333%;
	padding: 0 37px;

}

.advantage__item {
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	height: 100%;
}

.advantage__item *:not(:last-child) {
	margin-bottom: 20px;
}


.item__icon {
	display: flex;
	flex: 0 0 72px;
	width: 72px;
	align-items: flex-end;
	justify-content: center;
}

.item__icon img {
	max-width: 100%;
	max-height: 72px;

}

.item__title {
	color: #19191B;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: -0.750316px;
	flex: 1 1 auto;
}

.item__text {
	color: #696871;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Mulish';
}


@media (max-width: 1088px) {
	.advantage {
		padding: 50px 0px 0px 0px;
	}
}



/* ===============================================product============================================================== */

.product {
	padding: 150px 0px 150px 0px;
}

.product__header {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.product__header:not(:last-child) {
	margin-bottom: 100px;
}


.header-product__content {
	max-width: 523px;
	padding-right: 20px;
}

.header-product__title {
	color: #19191B;
	font-weight: 700;
	font-size: 60px;
	line-height: 1.17;
	letter-spacing: -1.87579px;
}

.header-product__switchers {
	display: inline-flex;
	flex-wrap: wrap;
}

.switcher {
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
	letter-spacing: -0.500211px;
}

.switcher__yearly {
	color: #FFFFFF;
	background: #5454D4;
	border-radius: 10px 0px 0px 10px;
	padding: 20px 58px;
}

.switcher__monthly {
	background: #F7F7FB;
	border-radius: 10px;
	color: #19191B;
	padding: 20px 58px;
}

@media (max-width:997.98px) {

	.product {
		padding: 100px 0px 100px 0px;
	}

	.product__header {
		flex-direction: column;

	}

	.header-product__title {
		text-align: center;
	}

	.header-product__content {
		margin-bottom: 30px;
		align-items: center;

	}
}

@media (max-width:767.98px) {

	.product {
		padding: 50px 0px 50px 0px;
	}



	.header-product__title {
		font-size: 40px;
	}

}

@media (max-width:400px) {
	.switcher {
		flex-direction: column;
	}

	.product__header:not(:last-child) {
		margin-bottom: 20px;
	}

}

/* ===============================================item-product============================================================== */

.product__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -9px;
	row-gap: 20px;
}

.product__column {
	flex: 1 0 33.333%;
	padding: 0 9px;
}



.product__item {
	display: flex;
	flex-direction: column;

}

.item-product {
	padding: 30px 20px;
	background: #F8F8F8;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	transition: all 0.3s ease 0s;
	cursor: pointer;

}


.item-product:hover {
	transform: scale(1.1);
	background-color: #FF7143;
	color: white;
}






.item-product__plan {
	color: #696871;
	letter-spacing: -0.562737px;
	font-size: 18px;
	line-height: 1.56;

}

.item-product__plan:not(:last-child) {
	margin-bottom: 22px;
}

.item-product__price {
	color: #1D293F;
	letter-spacing: -1.03448px;
	font-weight: 700;
	font-size: 60px;
	line-height: 93%;

}

.month {
	font-size: 25px;
}



.item-product__price:not(:last-child) {
	margin-bottom: 28px;
}

.item-product__list {
	flex: 1 1 auto;

}

.item-product__list:not(:last-child) {
	margin-bottom: 36px;
}

.item-product__list p:not(:last-child) {
	margin-bottom: 40px;
}

.item-product__list p {
	color: #696871;
	font-size: 17px;
	line-height: 1.5;
}




.item-product__button {
	display: inline-flex;
	background: #FFFFFF;
	border: 1px solid #EAE9F2;
	border-radius: 10px;
	padding: 20px 100px;
	color: #5454D4;
	font-size: 17px;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: -0.531474px;
	transition: all 0.3s ease 0s;

}

.item-product__button:hover {
	background-color: #9F3919;
	border: #9F3919;
	color: white;
}

.item-product:hover .item-product__plan {
	color: white;
}

.item-product:hover .item-product__price {
	color: white;
}

.item-product:hover .item-product__list>p {
	color: white;
}






.footer {
	padding: 50px 0px;
	background-color: #e6e5eb;
}

.footer__block-text {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.footer__text {
	color: #f52323;
	font-weight: 700;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.5;
}